* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: black;
  color: greenyellow;
  border-radius: 100px;
  border: 30px solid rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-family: 'Press Start 2P', cursive;
}

.first-row {
  display: flex;
  gap: 25px;
}

.clock {
  font-size: 40px;
  display: inline;
}
